body {
    margin: 2%;
    background-color: black;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
h2 {
    border-radius: 25px;
    text-align: center;
    width: 95%;
    background-image: linear-gradient(lightgray , white);
}
p {
    padding: 25% 0;
}
img {
    padding: 5px;
}
.character {
    float: left;
    width: 60px;
    height: 95px;
    margin: 10px;
}
.tierlabel {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: left;
    width: 95px;
    height: 95px;
    text-align: center;
    border-right: 10px solid black;
}
.buttons:hover{
    background-image: linear-gradient(rgb(49, 48, 48), rgb(109, 107, 107));
}
.buttons    {
    width: 84px;
    height: 16px;
    padding: 6px;
    text-align: center;
    background-color:  rgb(175, 174, 174);
    background-image: linear-gradient(rgb(104, 102, 102), rgb(175, 174, 174));
    cursor: pointer;
}
#resetbutton {
    border-left: 10px solid black;
    float: right;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
#backbutton {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    float: left;
    border-right: 10px solid black;
}
#tier1label{
    background-image: linear-gradient(rgb(182, 93, 93), #FF7F7F);
}
#tier2label{
    background-image: linear-gradient(rgb(187, 140, 93), #FEBF7E);
    background-color: #FEBF7E;  
}
#tier3label{
    background-image: linear-gradient(rgb(175, 175, 88), #FFFF7F);
    background-color: #FFFF7F;  
}
#tier4label{
    background-image: linear-gradient(rgb(82, 167, 82), #7FFF7F);
    background-color: #7FFF7F;  
}
#tier1label:hover{
    background-image: linear-gradient(rgb(77, 38, 38), rgb(173, 88, 88));
    cursor: pointer;
}
#tier2label:hover{
    background-image: linear-gradient(rgb(100, 75, 50), rgb(172, 127, 82));
    cursor: pointer; 
}
#tier3label:hover{
    background-image: linear-gradient(rgb(82, 82, 41), rgb(161, 161, 82));
    cursor: pointer; 
}
#tier4label:hover{
    background-image: linear-gradient(rgb(45, 92, 45), rgb(77, 153, 77));
    cursor: pointer;
}
.tierblock {
    border-radius: 25px;
    width: 95%;
    height: 95px;
    background-image: linear-gradient(#1b1b1b, #2b2b2b);
    background-color: #2b2b2b;
}
.container {
    margin-left: 7%;
    margin-right: 7%;
}
